params {
    reads     = "$baseDir/data/sample.fastq.gz"
    reference = "$baseDir/data/reference/Homo_sapiens.GRCh38.dna.chromosome.22.fa"

    bwa       = "/home/pratham_sonone/miniconda3/envs/bnf/bin/bwa"
    samtools  = "/home/pratham_sonone/miniconda3/envs/bnf/bin/samtools"
    fastqc    = "/home/pratham_sonone/miniconda3/envs/bnf/bin/fastqc"
    cutadapt  = "/usr/bin/cutadapt"
    bcftools = "/home/pratham_sonone/miniconda3/envs/bnf/bin/bcftools"

}

